<div class="text-layout">
  <h2>{{nombre | titlecase}}</h2>
  <h2>{{valor | number}}</h2>
  <h2>{{obj | json}}</h2>
  
</div>

<p-card header="Pipes" subheader="Subtitulo">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam ut ipsam eum nihil, saepe ad laborum ipsum maxime minus, corrupti atque aspernatur molestiae exercitationem, tempore molestias porro delectus! Sunt, atque!</p>
</p-card>



<button pButton 
  (click)="mostrarNombre()"
  label="Mostrar Nombre"
  icon="pi pi-check"
  iconPos="right"
  class="p-button-help">

</button>